---
import { societyModules } from '../data/society';
---

<div class="society-controller" data-carousel data-carousel-interval="6000" aria-hidden="true">
  <span data-carousel-current>01</span>
  <span data-carousel-progress></span>
  {societyModules.map((item, index) => (
    <article class:list={[{ 'is-active': index === 0 }]} data-carousel-slide>
      {item.title}
    </article>
  ))}
</div>
